nohup.out
/data/backbone_embeddings
/data/backbones
/data/embeddings
/data/test_embeddings
/data/authors/authors-processed.csv
/data/authors/instituition_information.json
/data/authors/organized_works_since_2004.csv
/data/authors/raw_works_since_2004.json
/data/authors/works_and_authors.json
/data/authors/alpha_table.csv
/data/authors/author_final.csv
/data/authors/authors_information.json
/data/authors-information.csv
/data/collaboration_networkx_reduced.graphml
/data/collaboration_networkx.graphml
/src/clustering/clustering_meme.py
/prevExp/
/src/__pycache__/
src/dgl_n2v/
src/node2bert/
src/kc_n2v/
src/output.log
results/analysis/
results/clusters_models/
/others/
