nohup.out
/mono/data/
prevExp/7&6ppg_works_and_authors_since_2004.json
prevExp/7&6ppg_works_since_2004.csv
prevExp/authors-ppg7-6-processed.csv
prevExp/authors-ppg7-6.csv
prevExp/ppg_authors_embedding.ipynb
prevExp/ppg_authors&works_graph.graphml
prevExp/ppg_embedding.nbconvert.ipynb
prevExp/ppg_graph.graphml
prevExp/ppg_graph.ipynb
prevExp/ppg_works_embedding.ipynb
prevExp/works_set_since_2004.json
prevExp/works_since_2004.json
prevExp/works.ipynb
prevExp/works.nbconvert.ipynb
code/output.log
